<!DOCTYPE html>
<html>

<head>
  <title>Skillz, Listed</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <small><a href="/">Go Home</a></small>
  <h1>Non-Exhaustive List of Skillz</h1>

    <table>
      <tr>
        <th>Skill Name</th>
        <th>Year Skill Acquired</th>
        <th>Value of Skill</th>
      </tr>
      <% skillz.forEach(function(skill) { %>
        <tr>
          <td><%- skill.skillName %></td>
          <td><%= skill.yearAcquired %></td>
          <td><%= skill.value %></td>
        </tr>
      <% }); %>
    </table>

    <%- include('../partials/footer') %>
</body>

</html>