<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome! </p>
    <p>Here you will find a <a href="skills/">list of <strong>
      
      

    </strong> 
    <%= title.toLowerCase() %></a> I have.</p>
    <p><em>If you'd like, you can also <a href="/skills/new">add another skill</a> for me…</em></p>

    <!-- try an included partial for the footer -->
    <%- include('partials/footer')%>
  </body>
</html>
