<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome! </p>
    <p>Here you will find a <a href="skills/">list of <strong>three</strong> <%= title.toLowerCase() %></a> I have.</p>

    <!-- try an included partial for the footer -->
    <%- include('partials/footer')%>
  </body>
</html>
