body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

details {
  padding-block-end: .5em;
}

summary {
  text-transform: uppercase;
}

dt  {
  font-weight: 700;
}

dd:last-child {
  padding-block-end: .5em;
  border-block-end: .1em solid black;
}