body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color: #00B7FF;
}

details {
  padding-block-end: .5em;
}

summary {
  text-transform: uppercase;
}

dt  {
  font-weight: 700;
}

dd:last-child {
  padding-block-end: .5em;
}

footer {
  display: flex;
  position: fixed;
  bottom: 2em;
  width: 100%;
  justify-content: center;
  padding-block-start: 1em;
  border-block-start: .1em double lightgrey;
  margin-top: auto;
}

th {
  border-bottom: 1px solid black;
  text-align: left;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  width: 50ch;
}

form button {
  grid-column: 1;
  grid-row: -1;
}

@media (prefers-color-scheme: dark) {
  * {
    background: #222;
    color: white;
  }
}